<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/index.css" />
    <title>Document</title>
</head>
<body>
<div id="app" class="score-case">
    <div class="table">
        <table>
            <thead>
            <tr>
                <th>编号</th>
                <th>科目</th>
                <th>成绩</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody v-if="list.length > 0" >
            <tr v-for="(item,index) in list" :key="item.id">
                <td>{{index+1}}</td>
                <td>{{item.subject}}</td>
                <td :class="{red:item.score < 60}">{{item.score}}</td>
                <td><a href="#" @click.prevent="deleteInfo(item)">删除</a></td>
            </tr>
            </tbody>
            <tbody v-else>
            <tr>
                <td colspan="5">
                    <span class="none">暂无数据</span>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <span>总分：{{scoreSum}}</span>
                    <span style="margin-left: 50px">平均分：{{scoreAvg}}</span>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="form">
        <div class="form-item">
            <div class="label">科目：</div>
            <div class="input">
                <input
                        type="text"
                        placeholder="请输入科目"
                        v-model.trim="subject"
                />
            </div>
        </div>
        <div class="form-item">
            <div class="label">分数：</div>
            <div class="input">
                <input
                        @keyup.enter="addInfo"
                        type="text"
                        placeholder="请输入分数"
                        v-model.number="score"
                />
            </div>
        </div>
        <div class="form-item">
            <div class="label"></div>
            <div class="input">
                <button class="submit" @click="addInfo">添加</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            subject: '',
            score: '',
            list: [
                { id: 1, subject: '语文', score: 36 },
                { id: 7, subject: '数学', score: 99 },
                { id: 12, subject: '英语', score: 70 }
            ]
        },
        methods:{
            deleteInfo(a){
                this.list = this.list.filter(item => item.id != a.id)
            },
            addInfo(){
                if(this.subject.trim() === '' || this.score.trim() === ''){
                    alert('输入科目或分数不要为空')
                    return
                }
                this.list.unshift({
                    id: +new Date(),
                    subject: this.subject,
                    score: this.score
                    })
                this.subject = ''
                this.score = ''
            }

        },
        computed: {
            scoreSum: {
                get(){
                    let total = this.list.reduce((sum,item) => sum + item.score,0)
                    return total
                },
                set(){

                }
            },
            scoreAvg(){
                if(this.list.length === 0){
                    return 0
                }
                let avg = (this.scoreSum/this.list.length).toFixed(2)
                return avg
            }
        }
    })
</script>
</body>
</html>